In [1]:
import pandas as pd
import numpy as np

In [2]:
MVCollisions = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes_20251118.csv')
MVCollisions.head()

/var/folders/_y/s628k2vs55v2kxzpds3m7cpc0000gn/T/ipykernel_33473/3866698553.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  MVCollisions = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes_20251118.csv')

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [3]:
MVCollisions.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [4]:
!pip install google-cloud-storage

Requirement already satisfied: google-cloud-storage in /opt/anaconda3/lib/python3.12/site-packages (3.6.0)
Requirement already satisfied: google-auth<3.0.0,>=2.26.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-storage) (2.43.0)
Requirement already satisfied: google-api-core<3.0.0,>=2.27.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-storage) (2.28.1)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-storage) (2.5.0)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.7.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-storage) (2.8.0)
Requirement already satisfied: requests<3.0.0,>=2.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-storage) (2.32.2)
Requirement already satisfied: google-crc32c<2.0.0,>=1.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-storage) (1.7.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.27.0->google-cloud-storage) (1.72.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.27.0->google-cloud-storage) (5.29.3)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.27.0->google-cloud-storage) (1.26.1)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.26.1->google-cloud-storage) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.26.1->google-cloud-storage) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.26.1->google-cloud-storage) (4.9.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.22.0->google-cloud-storage) (2025.10.5)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.26.1->google-cloud-storage) (0.4.8)

In [5]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/patkaa/Documents/Assignment 1 - DW - Fall 2025/mvcollisionscrashes-aa77ca045e2e.json"

In [6]:
from google.cloud import storage
from datetime import datetime

In [7]:
local_file_path = "/Users/patkaa/Documents/Assignment 1 - DW - Fall 2025/Motor_Vehicle_Collisions_-_Crashes_20251118.csv"
bucket_name = "mvcollisions_bucket1"

In [8]:
#Checking for duplicates
MVCollisions.duplicated().sum()

0

In [9]:
#Checking if there are null values
print(MVCollisions.isnull().sum())

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           680446
ZIP CODE                          680723
LATITUDE                          240365
LONGITUDE                         240365
LOCATION                          240365
ON STREET NAME                    483933
CROSS STREET NAME                 848828
OFF STREET NAME                  1829742
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7848
CONTRIBUTING FACTOR VEHICLE 2     356692
CONTRIBUTING FACTOR VEHICLE 3    2060564
CONTRIBUTING FACTOR VEHICLE 4    2184607
CONTRIBUTING FACTOR VEHICLE 5    2211249
COLLISION_ID                           0
VEHICLE TYPE CODE 1                16168
VEHICLE TYPE CODE 2               445758
VEHICLE TYPE CODE 3              2066807
VEHICLE TYPE CODE 4              2185939
VEHICLE TYPE CODE 5              2211565
dtype: int64

In [10]:
#Converting null values to “0”s
MVC_num_val = ['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED']
MVCollisions[MVC_num_val] = MVCollisions[MVC_num_val].fillna(0).astype(int)

#Update the null values
MVCollisions['BOROUGH'] = MVCollisions['BOROUGH'].fillna('NP')
MVCollisions['ZIP CODE'] = MVCollisions['ZIP CODE'].fillna('NP')
MVCollisions['LATITUDE'] = MVCollisions['LATITUDE'].fillna('NP')
MVCollisions['LONGITUDE'] = MVCollisions['LONGITUDE'].fillna('NP')
MVCollisions['LOCATION'] = MVCollisions['LOCATION'].fillna('NP')
MVCollisions['ON STREET NAME'] = MVCollisions['ON STREET NAME'].fillna('NP')
MVCollisions['CROSS STREET NAME'] = MVCollisions['CROSS STREET NAME'].fillna('NP')
MVCollisions['OFF STREET NAME'] = MVCollisions['OFF STREET NAME'].fillna('NP')

MVCollisions['CONTRIBUTING FACTOR VEHICLE 1'] = MVCollisions['CONTRIBUTING FACTOR VEHICLE 1'].fillna('NA')
MVCollisions['CONTRIBUTING FACTOR VEHICLE 2'] = MVCollisions['CONTRIBUTING FACTOR VEHICLE 2'].fillna('NA')
MVCollisions['CONTRIBUTING FACTOR VEHICLE 3'] = MVCollisions['CONTRIBUTING FACTOR VEHICLE 3'].fillna('NA')
MVCollisions['CONTRIBUTING FACTOR VEHICLE 4'] = MVCollisions['CONTRIBUTING FACTOR VEHICLE 4'].fillna('NA')
MVCollisions['CONTRIBUTING FACTOR VEHICLE 5'] = MVCollisions['CONTRIBUTING FACTOR VEHICLE 5'].fillna('NA')
MVCollisions['VEHICLE TYPE CODE 1'] = MVCollisions['VEHICLE TYPE CODE 1'].fillna('NA')
MVCollisions['VEHICLE TYPE CODE 2'] = MVCollisions['VEHICLE TYPE CODE 2'].fillna('NA')
MVCollisions['VEHICLE TYPE CODE 3'] = MVCollisions['VEHICLE TYPE CODE 3'].fillna('NA')
MVCollisions['VEHICLE TYPE CODE 4'] = MVCollisions['VEHICLE TYPE CODE 4'].fillna('NA')
MVCollisions['VEHICLE TYPE CODE 5'] = MVCollisions['VEHICLE TYPE CODE 5'].fillna('NA')

In [11]:
#Check if are Null values are removed
print(MVCollisions.isnull().sum())

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
ON STREET NAME                   0
CROSS STREET NAME                0
OFF STREET NAME                  0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
CONTRIBUTING FACTOR VEHICLE 3    0
CONTRIBUTING FACTOR VEHICLE 4    0
CONTRIBUTING FACTOR VEHICLE 5    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
VEHICLE TYPE CODE 3              0
VEHICLE TYPE CODE 4              0
VEHICLE TYPE CODE 5              0
dtype: int64

In [12]:
MVCollisions.head(20)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NP,NP,NP,NP,NP,WHITESTONE EXPRESSWAY,20 AVENUE,NP,...,Unspecified,NA,NA,NA,4455765,Sedan,Sedan,NA,NA,NA
1,03/26/2022,11:45,NP,NP,NP,NP,NP,QUEENSBORO BRIDGE UPPER,NP,NP,...,NA,NA,NA,NA,4513547,Sedan,NA,NA,NA,NA
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NP,...,Unspecified,Unspecified,NA,NA,4675373,Moped,Sedan,Sedan,NA,NA
3,06/29/2022,6:55,NP,NP,NP,NP,NP,THROGS NECK BRIDGE,NP,NP,...,Unspecified,NA,NA,NA,4541903,Sedan,Pick-up Truck,NA,NA,NA
4,09/21/2022,13:21,NP,NP,NP,NP,NP,BROOKLYN BRIDGE,NP,NP,...,Unspecified,NA,NA,NA,4566131,Station Wagon/Sport Utility Vehicle,NA,NA,NA,NA
5,04/26/2023,13:30,NP,NP,NP,NP,NP,WEST 54 STREET,NP,NP,...,Unspecified,NA,NA,NA,4623759,Sedan,Box Truck,NA,NA,NA
6,11/01/2023,7:12,NP,NP,NP,NP,NP,HUTCHINSON RIVER PARKWAY,NP,NP,...,Driver Inattention/Distraction,NA,NA,NA,4675709,Sedan,Station Wagon/Sport Utility Vehicle,NA,NA,NA
7,11/01/2023,8:01,NP,NP,NP,NP,NP,WEST 35 STREET,HENRY HUDSON RIVER,NP,...,NA,NA,NA,NA,4675769,Sedan,NA,NA,NA,NA
8,04/26/2023,22:20,NP,NP,NP,NP,NP,NP,NP,61 Ed Koch queensborough bridge,...,NA,NA,NA,NA,4623865,Sedan,Pick-up Truck,NA,NA,NA
9,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.8665,"(40.667202, -73.8665)",NP,NP,1211 LORING AVENUE,...,NA,NA,NA,NA,4456314,Sedan,NA,NA,NA,NA
10,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NP,...,NA,NA,NA,NA,4486609,NA,NA,NA,NA,NA
11,04/14/2021,12:47,NP,NP,NP,NP,NP,MAJOR DEEGAN EXPRESSWAY RAMP,NP,NP,...,Unspecified,NA,NA,NA,4407458,Dump,Sedan,NA,NA,NA
12,12/14/2021,17:05,NP,NP,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NP,NP,...,Unspecified,NA,NA,NA,4486555,Sedan,Tractor Truck Diesel,NA,NA,NA
13,12/14/2021,8:17,BRONX,10475.0,40.86816,-73.83148,"(40.86816, -73.83148)",NP,NP,344 BAYCHESTER AVENUE,...,Unspecified,NA,NA,NA,4486660,Sedan,Sedan,NA,NA,NA
14,12/14/2021,21:10,BROOKLYN,11207.0,40.67172,-73.8971,"(40.67172, -73.8971)",NP,NP,2047 PITKIN AVENUE,...,Unspecified,NA,NA,NA,4487074,Sedan,NA,NA,NA,NA
15,12/14/2021,14:58,MANHATTAN,10017.0,40.75144,-73.97397,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NP,...,Unspecified,NA,NA,NA,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NA,NA,NA
16,12/13/2021,0:34,NP,NP,40.701275,-73.88887,"(40.701275, -73.88887)",MYRTLE AVENUE,NP,NP,...,Unspecified,NA,NA,NA,4486934,Station Wagon/Sport Utility Vehicle,NA,NA,NA,NA
17,12/14/2021,16:50,QUEENS,11413.0,40.675884,-73.75577,"(40.675884, -73.75577)",SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NP,...,Unspecified,NA,NA,NA,4487127,Sedan,Station Wagon/Sport Utility Vehicle,NA,NA,NA
18,12/14/2021,8:30,NP,NP,NP,NP,NP,broadway,west 80 street -west 81 street,NP,...,Unspecified,NA,NA,NA,4486634,Station Wagon/Sport Utility Vehicle,Sedan,NA,NA,NA
19,12/14/2021,0:59,NP,NP,40.59662,-74.00231,"(40.59662, -74.00231)",BELT PARKWAY,NP,NP,...,NA,NA,NA,NA,4486564,Sedan,NA,NA,NA,NA

In [13]:
#creating one date_time object for next steps
MVCollisions['CRASH_DATE_TIME'] = pd.to_datetime(
    MVCollisions['CRASH DATE'] + ' ' + MVCollisions['CRASH TIME'],
    errors='coerce'
)

In [14]:
# Unified date format and Splitting the date into multiple unit 
MVCollisions['CRASH DATE_KEY'] = MVCollisions['CRASH_DATE_TIME'].dt.date
MVCollisions['CRASH YEAR'] = MVCollisions['CRASH_DATE_TIME'].dt.year
MVCollisions['CRASH QUARTER'] = MVCollisions['CRASH_DATE_TIME'].dt.quarter
MVCollisions['CRASH MONTH'] = MVCollisions['CRASH_DATE_TIME'].dt.month
MVCollisions['CRASH_DAY'] = MVCollisions['CRASH_DATE_TIME'].dt.day
MVCollisions['CRASH WEEK_DAY'] = MVCollisions['CRASH_DATE_TIME'].dt.day_name()
MVCollisions['CRASH HOUR'] = MVCollisions['CRASH_DATE_TIME'].dt.hour

In [15]:
MVCollisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,CRASH_DATE_TIME,CRASH DATE_KEY,CRASH YEAR,CRASH QUARTER,CRASH MONTH,CRASH_DAY,CRASH WEEK_DAY,CRASH HOUR
0,09/11/2021,2:39,NP,NP,NP,NP,NP,WHITESTONE EXPRESSWAY,20 AVENUE,NP,...,NA,NA,2021-09-11 02:39:00,2021-09-11,2021,3,9,11,Saturday,2
1,03/26/2022,11:45,NP,NP,NP,NP,NP,QUEENSBORO BRIDGE UPPER,NP,NP,...,NA,NA,2022-03-26 11:45:00,2022-03-26,2022,1,3,26,Saturday,11
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NP,...,NA,NA,2023-11-01 01:29:00,2023-11-01,2023,4,11,1,Wednesday,1
3,06/29/2022,6:55,NP,NP,NP,NP,NP,THROGS NECK BRIDGE,NP,NP,...,NA,NA,2022-06-29 06:55:00,2022-06-29,2022,2,6,29,Wednesday,6
4,09/21/2022,13:21,NP,NP,NP,NP,NP,BROOKLYN BRIDGE,NP,NP,...,NA,NA,2022-09-21 13:21:00,2022-09-21,2022,3,9,21,Wednesday,13

In [16]:
# Summing two columns
MVCollisions['TOTAL_VICTIMS'] = MVCollisions['NUMBER OF PERSONS KILLED'] + MVCollisions['NUMBER OF PERSONS INJURED']

# Adding another new column - check if person was killed or surviwed
MVCollisions.loc[MVCollisions['NUMBER OF PERSONS KILLED'] > 0, 'IF_MORTAL'] = 1
MVCollisions.loc[MVCollisions['NUMBER OF PERSONS KILLED'] == 0, 'IF_MORTAL'] = 0

In [17]:
print(MVCollisions.columns)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'CRASH_DATE_TIME', 'CRASH DATE_KEY', 'CRASH YEAR', 'CRASH QUARTER',
       'CRASH MONTH', 'CRASH_DAY', 'CRASH WEEK_DAY', 'CRASH HOUR',
       'TOTAL_VICTIMS', 'IF_MORTAL'],
      dtype='object')

In [18]:
MVCollisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CRASH_DATE_TIME,CRASH DATE_KEY,CRASH YEAR,CRASH QUARTER,CRASH MONTH,CRASH_DAY,CRASH WEEK_DAY,CRASH HOUR,TOTAL_VICTIMS,IF_MORTAL
0,09/11/2021,2:39,NP,NP,NP,NP,NP,WHITESTONE EXPRESSWAY,20 AVENUE,NP,...,2021-09-11 02:39:00,2021-09-11,2021,3,9,11,Saturday,2,2,0.0
1,03/26/2022,11:45,NP,NP,NP,NP,NP,QUEENSBORO BRIDGE UPPER,NP,NP,...,2022-03-26 11:45:00,2022-03-26,2022,1,3,26,Saturday,11,1,0.0
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NP,...,2023-11-01 01:29:00,2023-11-01,2023,4,11,1,Wednesday,1,1,0.0
3,06/29/2022,6:55,NP,NP,NP,NP,NP,THROGS NECK BRIDGE,NP,NP,...,2022-06-29 06:55:00,2022-06-29,2022,2,6,29,Wednesday,6,0,0.0
4,09/21/2022,13:21,NP,NP,NP,NP,NP,BROOKLYN BRIDGE,NP,NP,...,2022-09-21 13:21:00,2022-09-21,2022,3,9,21,Wednesday,13,0,0.0

In [19]:
#Use the correct data type each new fact generated
MVCollisions['TOTAL_VICTIMS'] = MVCollisions['TOTAL_VICTIMS'].astype('int32') 
MVCollisions['IF_MORTAL'] = MVCollisions['IF_MORTAL'].astype('int')

In [20]:
# Print final dataset and gain info
MVCollisions.head(100)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CRASH_DATE_TIME,CRASH DATE_KEY,CRASH YEAR,CRASH QUARTER,CRASH MONTH,CRASH_DAY,CRASH WEEK_DAY,CRASH HOUR,TOTAL_VICTIMS,IF_MORTAL
0,09/11/2021,2:39,NP,NP,NP,NP,NP,WHITESTONE EXPRESSWAY,20 AVENUE,NP,...,2021-09-11 02:39:00,2021-09-11,2021,3,9,11,Saturday,2,2,0
1,03/26/2022,11:45,NP,NP,NP,NP,NP,QUEENSBORO BRIDGE UPPER,NP,NP,...,2022-03-26 11:45:00,2022-03-26,2022,1,3,26,Saturday,11,1,0
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NP,...,2023-11-01 01:29:00,2023-11-01,2023,4,11,1,Wednesday,1,1,0
3,06/29/2022,6:55,NP,NP,NP,NP,NP,THROGS NECK BRIDGE,NP,NP,...,2022-06-29 06:55:00,2022-06-29,2022,2,6,29,Wednesday,6,0,0
4,09/21/2022,13:21,NP,NP,NP,NP,NP,BROOKLYN BRIDGE,NP,NP,...,2022-09-21 13:21:00,2022-09-21,2022,3,9,21,Wednesday,13,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,12/08/2021,17:56,NP,NP,40.873737,-73.90593,"(40.873737, -73.90593)",MAJOR DEEGAN EXPRESSWAY,NP,NP,...,2021-12-08 17:56:00,2021-12-08,2021,4,12,8,Wednesday,17,0,0
96,12/07/2021,7:50,NP,NP,40.66718,-73.95076,"(40.66718, -73.95076)",CARROLL STREET,NP,NP,...,2021-12-07 07:50:00,2021-12-07,2021,4,12,7,Tuesday,7,0,0
97,12/08/2021,0:44,QUEENS,11101.0,40.754295,-73.93946,"(40.754295, -73.93946)",23 STREET,40 AVENUE,NP,...,2021-12-08 00:44:00,2021-12-08,2021,4,12,8,Wednesday,0,0,0
98,12/08/2021,15:00,NP,NP,40.588116,-73.97261,"(40.588116, -73.97261)",AVENUE Y,NP,NP,...,2021-12-08 15:00:00,2021-12-08,2021,4,12,8,Wednesday,15,0,0
99,12/10/2021,11:00,BRONX,10461.0,40.854935,-73.85822,"(40.854935, -73.85822)",NP,NP,2123 LURTING AVENUE,...,2021-12-10 11:00:00,2021-12-10,2021,4,12,10,Friday,11,0,0

In [21]:
print(MVCollisions)

         CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0        09/11/2021       2:39         NP       NP         NP         NP
1        03/26/2022      11:45         NP       NP         NP         NP
2        11/01/2023       1:29   BROOKLYN  11230.0   40.62179 -73.970024
3        06/29/2022       6:55         NP       NP         NP         NP
4        09/21/2022      13:21         NP       NP         NP         NP
...             ...        ...        ...      ...        ...        ...
2221296  08/13/2021      17:56   BROOKLYN  11234.0  40.632065  -73.91861
2221297  08/12/2021       8:05      BRONX  10475.0   40.87577  -73.83257
2221298  08/08/2021      16:35  MANHATTAN  10010.0  40.741028  -73.99417
2221299  08/12/2021      21:18         NP       NP  40.665916  -73.92547
2221300  08/12/2021       6:20   BROOKLYN  11225.0  40.666267  -73.95668

                           LOCATION           ON STREET NAME  \
0                                NP    WHITESTONE EXPRESSWAY
1                                NP  QUEENSBORO BRIDGE UPPER
2            (40.62179, -73.970024)            OCEAN PARKWAY
3                                NP       THROGS NECK BRIDGE
4                                NP          BROOKLYN BRIDGE
...                             ...                      ...
2221296      (40.632065, -73.91861)         FLATLANDS AVENUE
2221297       (40.87577, -73.83257)                       NP
2221298      (40.741028, -73.99417)   AVENUE OF THE AMERICAS
2221299      (40.665916, -73.92547)           BUFFALO AVENUE
2221300      (40.666267, -73.95668)                       NP

            CROSS STREET NAME            OFF STREET NAME  ...  \
0                   20 AVENUE                         NP  ...
1                          NP                         NP  ...
2                    AVENUE K                         NP  ...
3                          NP                         NP  ...
4                          NP                         NP  ...
...                       ...                        ...  ...
2221296          RALPH AVENUE                         NP  ...
2221297                    NP  100       DONIZETTI PLACE  ...
2221298        WEST 20 STREET                         NP  ...
2221299  EAST NEW YORK AVENUE                         NP  ...
2221300                    NP   1650      BEDFORD AVENUE  ...

            CRASH_DATE_TIME  CRASH DATE_KEY  CRASH YEAR  CRASH QUARTER  \
0       2021-09-11 02:39:00      2021-09-11        2021              3
1       2022-03-26 11:45:00      2022-03-26        2022              1
2       2023-11-01 01:29:00      2023-11-01        2023              4
3       2022-06-29 06:55:00      2022-06-29        2022              2
4       2022-09-21 13:21:00      2022-09-21        2022              3
...                     ...             ...         ...            ...
2221296 2021-08-13 17:56:00      2021-08-13        2021              3
2221297 2021-08-12 08:05:00      2021-08-12        2021              3
2221298 2021-08-08 16:35:00      2021-08-08        2021              3
2221299 2021-08-12 21:18:00      2021-08-12        2021              3
2221300 2021-08-12 06:20:00      2021-08-12        2021              3

         CRASH MONTH  CRASH_DAY  CRASH WEEK_DAY  CRASH HOUR TOTAL_VICTIMS  \
0                  9         11        Saturday           2             2
1                  3         26        Saturday          11             1
2                 11          1       Wednesday           1             1
3                  6         29       Wednesday           6             0
4                  9         21       Wednesday          13             0
...              ...        ...             ...         ...           ...
2221296            8         13          Friday          17             0
2221297            8         12        Thursday           8             0
2221298            8          8          Sunday          16             1
2221299            8         12        Thursday          21             0
2221300            8         12        Thursday           6             0

        IF_MORTAL
0               0
1               0
2               0
3               0
4               0
...           ...
2221296         0
2221297         0
2221298         0
2221299         0
2221300         0

[2221301 rows x 39 columns]

In [22]:
print(MVCollisions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2221301 entries, 0 to 2221300
Data columns (total 39 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       object
 5   LONGITUDE                      object
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      int64
 11  NUMBER OF PERSONS KILLED       int64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
 29  CRASH_DATE_TIME                datetime64[ns]
 30  CRASH DATE_KEY                 object
 31  CRASH YEAR                     int32
 32  CRASH QUARTER                  int32
 33  CRASH MONTH                    int32
 34  CRASH_DAY                      int32
 35  CRASH WEEK_DAY                 object
 36  CRASH HOUR                     int32
 37  TOTAL_VICTIMS                  int32
 38  IF_MORTAL                      int64
dtypes: datetime64[ns](1), int32(6), int64(10), object(22)
memory usage: 610.1+ MB
None

In [23]:
#Building dimensional model
CREATE TABLE IF NOT EXISTS fact_collision (
    collision_key BIGINT IDENTITY(1,1) PRIMARY KEY,
    collision_id VARCHAR(50), 
    collision_key VARCHAR(50), 
    location_key VARCHAR(50), 
    date_key DATE,
    time_key TIME,
    factor_key_1 VARCHAR(50), 
    factor_key_2 VARCHAR(50), 
    vehicle_key_1 VARCHAR(50),
    vehicle_key_2 VARCHAR(50), 
    number_of_persons_injured INT,
    number_of_persons_killed INT,
    number_of_pedestrians_injured INT,
    number_of_pedestrians_killed INT,
    number_of_cyclist_injured INT,
    number_of_cyclist_killed INT,
    number_of_motorist_injured INT,
    number_of_motorist_killed INT
);


CREATE TABLE dim_location (
    location_key BIGINT IDENTITY(1,1) PRIMARY KEY,
    location VARCHAR (200),
    latitude VARCHAR (50),
    longitude VARCHAR (50),
    borough VARCHAR (50),
    zip_code VARCHAR (10),
    on_street_name VARCHAR (200),
    off_street_name VARCHAR (200),
    cross_street_name VARCHAR (200)
);

CREATE TABLE dim_date (
    date_key BIGINT IDENTITY(1,1) PRIMARY KEY,
    crash_date VARCHAR (100)
);

CREATE TABLE dim_time (
    time_key BIGINT IDENTITY(1,1) PRIMARY KEY,
    crash_time VARCHAR (100)
);

CREATE TABLE dim_factor (
    factor_key_1 BIGINT IDENTITY(1,1) PRIMARY KEY,
    factor_key_2 BIGINT IDENTITY(1,1) PRIMARY KEY,
    contributing_factor_vehicle_1 VARCHAR (200),
    contributing_factor_vehicle_2 VARCHAR (200),
    contributing_factor_vehicle_3 VARCHAR (200),
    contributing_factor_vehicle_4 VARCHAR (200),
    contributing_factor_vehicle_5 VARCHAR (200)
);

CREATE TABLE dim_vehicle (
    vehicle_key_1 BIGINT IDENTITY(1,1) PRIMARY KEY,
    vehicle_key_2 BIGINT IDENTITY(1,1) PRIMARY KEY,
    vehicle_type_code1 VARCHAR (200),
    vehicle_type_code2 VARCHAR (200),
    vehicle_type_code3 VARCHAR (200),
    vehicle_type_code4 VARCHAR (200),
    vehicle_type_code5 VARCHAR (200)
);

SyntaxError: invalid syntax (114331776.py, line 2)